documentacao/Integrador_Shapsin_Sensors/ExemploVBNet/Web References/SensorsService/SensorsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetornaListaDeSensores">
        <s:complexType />
      </s:element>
      <s:element name="RetornaListaDeSensoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaListaDeSensoresResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EstadoSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoSensorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EstadoSensorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaListaEstados">
        <s:complexType />
      </s:element>
      <s:element name="RetornaListaEstadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaListaEstadosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornaListaDeSensoresSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaListaDeSensores" />
  </wsdl:message>
  <wsdl:message name="RetornaListaDeSensoresSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaListaDeSensoresResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoSensorSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoSensor" />
  </wsdl:message>
  <wsdl:message name="EstadoSensorSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoSensorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaListaEstadosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaListaEstados" />
  </wsdl:message>
  <wsdl:message name="RetornaListaEstadosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaListaEstadosResponse" />
  </wsdl:message>
  <wsdl:portType name="SensorsServiceSoap">
    <wsdl:operation name="RetornaListaDeSensores">
      <wsdl:input message="tns:RetornaListaDeSensoresSoapIn" />
      <wsdl:output message="tns:RetornaListaDeSensoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoSensor">
      <wsdl:input message="tns:EstadoSensorSoapIn" />
      <wsdl:output message="tns:EstadoSensorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaListaEstados">
      <wsdl:input message="tns:RetornaListaEstadosSoapIn" />
      <wsdl:output message="tns:RetornaListaEstadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorsServiceSoap" type="tns:SensorsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaListaDeSensores">
      <soap:operation soapAction="http://tempuri.org/RetornaListaDeSensores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoSensor">
      <soap:operation soapAction="http://tempuri.org/EstadoSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaListaEstados">
      <soap:operation soapAction="http://tempuri.org/RetornaListaEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorsServiceSoap12" type="tns:SensorsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaListaDeSensores">
      <soap12:operation soapAction="http://tempuri.org/RetornaListaDeSensores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoSensor">
      <soap12:operation soapAction="http://tempuri.org/EstadoSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaListaEstados">
      <soap12:operation soapAction="http://tempuri.org/RetornaListaEstados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SensorsService">
    <wsdl:port name="SensorsServiceSoap" binding="tns:SensorsServiceSoap">
      <soap:address location="http://187.17.112.161/ShapsinSensors/SensorsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SensorsServiceSoap12" binding="tns:SensorsServiceSoap12">
      <soap12:address location="http://187.17.112.161/ShapsinSensors/SensorsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>